/*Javier Garcia*/
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSPYnPuNJ_F2bLJ3t83-wP6BG8nxI2Q9NJzf-iTwHtDjVBdFVgDFJQinmAexmfYq6LrS6UPfp-a1w&usqp=CAU&ec=48665698");
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

