body {
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRHI-bvHPw4yRODrtVps8Xfef6caVs_M9BJWV1h-_j3oSFiOxtq");
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
